{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "ramda",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "theme": "@scorum/theme-bootstrap/src",
        "modules": "./node_modules",
        "models": "./src/models"
      }
    }]
  ]
}
