.idea
.DS_Store

# System folder for caches, etc.
.etmp
.caches
.cache

# System folder for VSCode local history plugin
.history
.vscode

dist
node_modules

reports
npm-debug.log
deployments.log
yarn-error.log
package-lock.json
